
@import '../../sass/sassStyles/variables';
@import '../../sass/sassStyles/mixins';
.mb24{
    margin-bottom: 24px;
}
.headingmain{
    padding-bottom: 0!important;
}
.servicemain{
    padding:80px 0;
    @include othermedia(mDevice){
        padding:0;
    }
}

.paddingcustom{
    padding-left: 14px!important;
    padding-right: 14px!important;
    
}
.listofitems{
    width:100vw!important;
    
    @include othermedia(mDevice){
        text-align: center;
        padding-left: 20vw;
      
    }
    .singleitem{
        display: flex;
        align-items: center;
       
        img{
            margin-right: 20px;
        }
        h4{
            @include myfont(1.3rem,500,$main_font);
            color:$dark_color;
            @include othermedia(mDevice){
                @include myfont(13px,500,$main_font);
            }
        }
    }
}

.mobiimgdiv{
   text-align: center;
   margin-top: 40px;
   @include othermedia(mDevice){
    img{
        margin:10px;
    }
   }
}