@import "../../sass/sassStyles/variables";
@import "../../sass/sassStyles/mixins";

 
  .navbrand {
    @include myfont(30px!important, 600, $main_font);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color:$deep_blue!important;
}
.navul {
  margin: 0 auto;
  a {
    @include myfont(1rem, 400, $main_font);
    color: $dark_color;
  }
}

