@import "../../sass/sassStyles/variables";
@import "../../sass/sassStyles/mixins";

 
  .navbrand {
    @include myfont(30px!important, 600, $main_font);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color:$deep_blue!important;
    @include othermedia(mDevice){
      position: relative;
      top:0;
      transform: translateY(0%);

      
  }
    
}
.container{
  @include othermedia(mDevice){
    justify-content: space-between;
}
}
.navul {
  margin: 0 auto;
  @include othermedia(mDevice){
    text-align: center;
    background-color: #fff;
    
}
  a {
    @include myfont(1rem, 400, $main_font);
    color: $dark_color;
  }
}

