@import '../../../sass/sassStyles/variables';
@import '../../../sass/sassStyles/mixins';

.locationcardmain{
    width: 100%;
    margin-bottom: 30px;
    position:relative;
    overflow: hidden;
    
    img{
        transition: 0.4s;

    }
    &:hover{
        img{
            transform: scale(1.2);
        }
    }
    .overlay{
        width: auto;
        z-index: 999;
        bottom:0;
        right:0;
        position: absolute;
        padding:4px 8px;
        background-color: $primary_color;
        p{
            margin-bottom: 0;
            @include myfont(17px,600,$main_font);
            color:#fff;
        }
    }
}