@import '../../sass/sassStyles/variables';
@import '../../sass/sassStyles/mixins';
.wsubox{
    position:relative;
    width: 100%;
    padding:30px;
    padding-top: 55px;
    background-color: #f0f4ff;
    margin-bottom: 60px;
    @include othermedia(mDevice){
        margin-bottom: 50px;
    }
    .innersm{
        position:absolute;
        top:0;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        left:30px;
        transform: translateY(-50%);
        background-color: #fff;
        box-shadow: 0px 3px 10px 0px rgba(0, 30, 124, 0.1);
    }
    h5{
        @include myfont(20px,600,$main_font);
        color:#000;
    }
    p{
        @include myfont(14px,400,$main_font);
        color:$gray;
    }
}